[Desktop Entry]
Type=Application
Name=Potato Presenter
Version=1.0
Comment=Tool to create presentation slides
Exec=bin/praes
Icon=icons/hicolor/64x64/apps/potato_logo

Categories=Office;

X-AppImage-Version=4ce284c
